<!-- _includes/features.html -->
<div class="grid-sizer clearfix {{ include.cols_class }}"></div>
<div class="grid-item  clearfix {{ include.cols_class }} {% if sorted_features.size < 3 %}grid-item-wide{% endif %}">

<!--  PZH Note: Remove URL-->
<!--  {% if feature.redirect -%}-->
<!--  <a href="{{ feature.redirect }}">-->
<!--  {%- else -%}-->
<!--  <a href="{{ feature.url | relative_url }}">-->
<!--  {%- endif %}-->


  <div class="card hoverable">
    {%- if feature.img %}
    {%- include figure.html
      path=feature.img
      alt="feature thumbnail" -%}
    {%- elsif feature.video %}
    {%- include video.html
      path=feature.video
      autoplay=true
      muted=true
      loop=true
    -%}
    {%- endif %}
    <div class="card-body">
      <h4 class="card-title">{{ feature.title }}</h4>
      <p class="card-text">{{ feature.description }}</p>
      <div class="row ml-1 mr-1 p-0">
        {%- if feature.github -%}
        <div class="github-icon">
          <div class="icon" data-toggle="tooltip" title="Code Repository">
            <a href="{{ feature.github }}"><i class="fab fa-github gh-icon"></i></a>
          </div>
          {%- if feature.github_stars -%}
          <span class="stars" data-toggle="tooltip" title="GitHub Stars">
            <i class="fas fa-star"></i>
            <span id="{{ feature.github_stars }}-stars"></span>
          </span>
          {%- endif %}
        </div>
        {%- endif %}
      </div>
    </div>
  </div>
</a>
</div>