/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

body {
  font-size: 14pt;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
div,
li,
span,
strong {
  color: var(--global-text-color);
}

* {padding:0;margin:0;box-sizing:border-box;}

#video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


hr {
  border-top: 1px solid var(--global-divider-color);
}

table {
  td,
  th {
    font-size: 1rem;
  }

  th {
    font-weight: bold;
  }
}

a,
table.table a {
  color: var(--global-theme-color);

  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }

  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

.table-dark {
  background-color: transparent;
}

figure,
img {
  max-width: 90vw;
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Card

.card {
  background-color: var(--global-card-bg-color);

  img {
    width: 100%;
  }

  .card-title {
    color: var(--global-text-color);
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }
}

// Citation

.citation,
.citation-number {
  color: var(--global-theme-color);
}

// Profile

.profile {
  width: 100%;

  .address {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: monospace;

    p {
      display: inline-block;
      margin: 0;
    }
  }
}

.profile.float-right {
  margin-left: 1rem;
}

.profile.float-left {
  margin-right: 1rem;
}

@media (min-width: 576px) {
  .profile {
    width: 30%;

    .address {
      p {
        display: block;
      }
    }
  }
}

.teaser {
  margin: 20pt 0;
  text-align: center;
}

.teaser img {
  width: 90%;
}

.teaser teaser-caption {
  font-size: 100%;
}

.grid-teaser {
  margin: 0 0;
  text-align: center;
}

.grid-teaser img {
  width: 90%;
}

.grid-teaser caption {
  width: 90%;
  text-align: center;
  margin-bottom: 0;
}

.research-section {
  max-width: 800pt;
  margin: auto;
  box-shadow: 20px 10px 20px var(--global-research-section-border);
  border-radius: 0;
  padding: 30px 30px 10px 30px;
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--global-research-section-border);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.research-section ul {
  list-style-position: outside;
  padding-left: 30px;
}

.research-section ol {
  padding-left: 30px;
}

.research-section li {
  padding-left: -20px;
}

.post-description {
  margin-bottom: 2rem;
  font-size: 1.2rem;

  a {
    color: inherit;

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

.post-authors {
  margin-bottom: 2rem;
  font-size: 1.5rem;

  a {
    color: inherit;

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}


// Navbar customization

.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--global-divider-color);
  background-color: var(--global-bg-color);
  opacity: 0.95;
}

.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);

  a:not(.active) {
    color: var(--global-text-color);
  }

  a:hover {
    color: var(--global-hover-color);
  }

  .dropdown-divider {
    border-top: 1px solid var(--global-divider-color) !important;
  }
}

.dropdown-item {
  color: var(--global-text-color);

  &:hover {
    color: var(--global-hover-color);
    background-color: var(--global-bg-color);
  }
}

.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .navbar-brand {
    color: var(--global-text-color);
  }

  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }

  .navbar-nav .nav-item.active > .nav-link {
    background-color: inherit;
    font-weight: bolder;
    color: var(--global-theme-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }

  .navbar-brand img {
    height: 40px;
    width: auto;
  }

  .navbar-brand.social {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.7rem;

    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }

      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}

#light-toggle {
  padding: 0;
  border: 0;
  background-color: inherit;
  color: var(--global-text-color);

  &:hover {
    color: var(--global-hover-color);
  }
}

// Social (bottom)

.social {
  text-align: center;

  .contact-icons {
    font-size: 4rem;

    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }

      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }

  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;

  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
  }

  a {
    color: var(--global-footer-link-color);

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}

// CV

.cv {
  margin-bottom: 40px;

  .card {
    background-color: var(--global-card-bg-color);
    border: 1px solid var(--global-divider-color);

    .list-group-item {
      background-color: inherit;
      border-color: var(--global-divider-color);

      .badge {
        color: var(--global-card-bg-color) !important;
        background-color: var(--global-theme-color) !important;
      }
    }
  }
}

// Repositories

@media (min-width: 768px) {
  .repo {
    max-width: 50%;
  }
}

// Blog

.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

.tag-list {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 1rem;

  ul {
    justify-content: center;
    display: flow-root;

    p,
    li {
      list-style: none;
      display: inline-block;
      padding: 1rem 0.5rem;
      color: var(--global-text-color-light);
    }
  }
}

.category-list {
  border-bottom: 1px solid var(--global-divider-color);
  padding-top: 0.5rem;
  padding-bottom: 0rem;

  ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    p,
    li {
      list-style: none;
      display: inline-block;
      padding: 0.5rem 0.5rem;
      color: var(--global-text-color-light);
    }
  }

  .news-text {
    color: var(--global-text-color-light);
    padding-right: 1rem;
  }
}

.category-title {
  text-align: center;
}

.category-list ul .category-item {
  text-align: center;
}


.post-title {
  mjx-container[jax="CHTML"][display="true"] {
    display: unset;
  }
}

.post-list {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  li {
    border-bottom: 1px solid var(--global-divider-color);
    list-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }

    .post-tags {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      padding-top: 0.25rem;
      padding-bottom: 0;
    }

    a {
      color: var(--global-text-color);
      text-decoration: none;

      &:hover {
        color: var(--global-theme-color);
      }
    }

    mjx-container[jax="CHTML"][display="true"] {
      display: unset;
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);

      &:hover {
        color: $black-color;
      }
    }

    &.active .page-link {
      color: $white-color;
      background-color: var(--global-theme-color);

      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}


// Distill

.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Projects

.projects {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-sizer,
  .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }

  h2.category {
    border-bottom: 1px solid var(--global-text-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}

.features {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-sizer,
  .grid-item {
    width: 400px;
    margin-bottom: 10px;
  }

  .grid-item-wide {
    width: 400px; /* adjust this value according to your needs */
    margin-bottom: 10px;
  }

  h2.category {
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}


// Publications

.publications {
  margin-top: 2rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }

  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      padding-bottom: 1.5rem;

      .preview {
        width: 100%;
        min-width: 80px;
        max-width: 200px;
      }


      .teaserblock {
        //display: grid;
        //justify-content: start;

        min-height: 150px;
        //min-width: 180px;
        height: 2rem;
        margin-bottom: 0.5rem;

        abbrbadge {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;
          position: absolute;
          top: 12px;
          left: 16px;

          a {
            color: white;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }

      .title {
        font-weight: bolder;
        font-size: 110%;
        padding-bottom: 0.2em;
      }

      .author {

        font-size: 100%;

        a {
          border-bottom: 1px dashed var(--global-theme-color);

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }

          border-bottom: 1px dashed var(--global-text-color);
          color: var(--global-text-color)
        }

        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }

        > span.more-authors {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          cursor: pointer;

          &:hover {
            color: var(--global-text-color);
            border-bottom: 1px dashed var(--global-text-color);
          }
        }
      }

      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          margin-left: 0;

          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }

      .badges {
        padding-bottom: 0.5rem;

        span {
          display: inline-block;
          color: $black-color;
          height: 100%;
          padding-right: 0.5rem;
          vertical-align: middle;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }

        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }

      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }


      .teaser {
        border-radius: 8px;
        box-shadow: 3px 3px 6px #888;
        height: 150px;
        width: 200px;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        object-fit: cover;
      }

      .videoplayer {
        border-radius: 8px;
        height: 150px;
        width: 200px;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        object-fit: cover;
      }

      .videoplayer video {
        border-radius: 8px;
        box-shadow: 3px 3px 6px #888;
        height: 150px;
        width: 200px;
        object-fit: cover;
      }

      // Hack to remove useless links
      .details {
        font-size: 0em;
      }


    }
  }
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;

  pre,
  code {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

// Extra Markdown style (post Customization)
.post {
  .post-meta {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .post-tags {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;

    a {
      color: var(--global-text-color-light);
      text-decoration: none;

      &:hover {
        color: var(--global-theme-color);
      }
    }
  }

  .post-content {
    blockquote {
      border-left: 5px solid var(--global-theme-color);
      padding: 8px;

      p {
        margin-bottom: 0;
      }
    }
  }
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 10;

  /* Dimensions */
  width: 100%;
  height: 1px;

  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10  */
  background-color: transparent;

  /* Progress bar value for IE10  */
  color: var(--global-theme-color);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: var(--global-theme-color);
}

progress::-moz-progress-bar {
  background-color: var(--global-theme-color);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 56px;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background-color: var(--global-theme-color);
  width: 0%;
  display: block;
  height: inherit;
}

/* Copy button */
.code-display-wrapper {
  position: relative;

  .copy {
    background: var(--global-card-bg-color);
    border-color: var(--global-bg-color);
    border-radius: .3rem;
    border-style: none;
    color: var(--global-text-color);
    font-size: medium;
    opacity: 0;
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    color: var(--global-hover-color);
    opacity: 1;
  }
}

.btn-group.dropdown {
  .btn {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .btn-secondary.dropdown-toggle {
    border: 1px solid var(--global-divider-color);

    .page-size {
      color: inherit;
    }

    &:not(.active) {
      background-color: var(--global-bg-color) !important;
      color: var(--global-text-color);
    }

    &:hover {
      background-color: var(--global-hover-color) !important;
      color: var(--global-hover-text-color) !important;
    }
  }

  .dropdown-menu {
    background-color: var(--global-bg-color);
  }

  .dropdown-item {
    background-color: var(--global-bg-color);
    color: var(--global-text-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: var(--global-hover-color);
    color: var(--global-hover-text-color) !important;

    &:hover {
      color: var(--global-hover-text-color);
    }
  }
}

/* Table of Contents */
nav[data-toggle="toc"] {
  top: 5rem;

  .nav .nav > li > a {
    font-size: .75rem;
  }

  .nav > li > a {
    color: var(--global-text-color);
    font-size: .75rem;

    &:hover {
      color: var(--global-hover-color);
      border-left-color: var(--global-hover-color);
    }
  }

  .nav-link.active {
    color: var(--global-theme-color);
    border-left-color: var(--global-theme-color);
    font-size: .75rem;

    &:hover {
      color: var(--global-hover-color);
      border-left-color: var(--global-hover-color);
    }
  }
}

/* small screens */
@media (max-width: 576px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    visibility: hidden;
    height: 0;
    top: 0;
  }
}

/* Tips, warnings, and dangers blockquotes */
.post .post-content blockquote {
  &.block-tip {
    border-color: var(--global-tip-block);
    background-color: var(--global-tip-block-bg);

    p {
      color: var(--global-tip-block-text);
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--global-tip-block-title);
    }
  }

  &.block-warning {
    border-color: var(--global-warning-block);
    background-color: var(--global-warning-block-bg);

    p {
      color: var(--global-warning-block-text);
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--global-warning-block-title);
    }
  }

  &.block-danger {
    border-color: var(--global-danger-block);
    background-color: var(--global-danger-block-bg);

    p {
      color: var(--global-danger-block-text);
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--global-danger-block-title);
    }
  }
}

.carousel-indicators li {
  background-color: transparent;
  border: 1px solid #000; /* Change the color as per your design */
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.carousel-indicators .active {
  background-color: #000; /* Change the color as per your design */
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  text-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
  transform: scale(2); /* Change this value to scale the icons up or down */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  max-width: 380px; /* Adjust the maximum width as needed */
  height: auto; /* Maintain aspect ratio */
}

.metadrive {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .text {
    flex: 1 1 50%;
    padding: 1em;
    order: 1;
  }

  .image {
    flex: 1 1 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .image img, .image video {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
  }

  .image iframe {
    max-width: 100%;
    border-radius: 15px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .container:nth-child(even) {
      flex-direction: column;
    }

    .text, .image {
      flex-basis: 100%;
    }
  }
}


.center-text {
  text-align: center;
}

.our-webcoderskull {
  background: var(--global-bg-color);
}

.our-webcoderskull .cnt-block {
  float: left;
  width: 100%;
  background: var(--global-bg-color);
  padding: 30px 20px;
  text-align: center;
  border: 0px solid var(--global-text-color-light);
  margin: 0 0 28px;
}

.our-webcoderskull .cnt-block figure {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
  object-fit: cover;
}

.our-webcoderskull .cnt-block img {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  object-fit: cover;
}

.our-webcoderskull .cnt-block h3 {
  color: var(--global-text-color);
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
}

.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: var(--global-text-color);
}

.our-webcoderskull .cnt-block h3 a:hover {
  color: var(--global-hover-color);
}

.our-webcoderskull .cnt-block p {
  color: var(--global-text-color);
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.our-webcoderskull .cnt-block .follow-us {
  margin: 20px 0 0;
}

.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.our-webcoderskull .cnt-block .follow-us li .bi {
  font-size: 24px;
  color: var(--global-text-color-light);
}

.our-webcoderskull .cnt-block .follow-us li .bi:hover {
  color: var(--global-hover-color);
}

.our-webcoderskull ul {
  list-style: none;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 400px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1em;
}

.card img, .card video, .card figure {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -1em;
}

.card .card-body .card-text {
  flex-grow: 1;
  margin-top: -1em;
}

.card-body li {
  vertical-align: text-top;
  //font-size: 100px;
}

.scroll-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  display: none;
}

.scroll-section.active {
  opacity: 1;
  display: block;
}

.section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.section.active {
  opacity: 1;
}

//.section .img-container {
//  position: relative;
//  width: 100%;
//  height: 300px; /* adjust as needed */
//}
//
//.section .img-container img {
//  object-fit: contain;
//  //width: 100%;
//  //height: 100%;
//}
//
//.section .circle {
//  position: absolute;
//  top: 0;
//  left: 50%;
//  width: 100px; /* adjust as needed */
//  height: 100px; /* adjust as needed */
//  border-radius: 50%;
//  background: rgba(255,255,255,0.5); /* semi-transparent white */
//  transform: translateX(-50%); /* center horizontally */
//}
//
//.section .description {
//  margin-top: 20px; /* adjust as needed */
//  /* other styles as needed */
//}
.my-image {
  max-width: 100%;
  height: auto;
}

.infinite-scroll-gallery {
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .video-info {
    margin-top: 1px;
    font-size: 0.9em;
    color: #666;
  }

  .sizer {
    width: 45%;
    margin: 10px;
  }

  .image {
    width: 45%;
    margin: 10px;
    overflow: hidden;
  }

  .video-container {
    position: relative;
    width: 100%;
    padding-top: 28.125%; /* This sets the aspect ratio 450/1600*100 = 28.125% */
    overflow: hidden;
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #load-more {
    text-align: center;
    margin: 20px 0;
  }

  #load-more a {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }

  /* Styles for tablet */
  @media screen and (max-aspect-ratio: 1/1) {
    .image, .sizer {
      width: 100%; /* approximately 2 images per row, considering the margins */
    }
  }

  /* Styles for mobile */
  @media screen and (max-aspect-ratio: 2/3) {
    .image, .sizer {
      width: 100%; /* 1 image per row */
    }
  }
}

.image-transition {
  opacity: 0;
  transition: opacity 0.6s;
}

.image-visible {
  opacity: 1;
}

.pagination__next {
  display: none;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  color: #fff;
}

.badge-tag {
  background-color: #007bff;
}

.badge-id {
  background-color: #28a745;
}

#tag-filter {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-button {
  margin: .5em; /* Updated to add vertical margin */
  padding: .5em 1em;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #0056b3;
}

.filter-button.active {
  background-color: #28a745;
}

.news-container {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
}


.news-container ul {
  padding-left: 50px;
}

.news-container li {
  margin-bottom: 5px;
}

.bibtex {
  margin: 0 auto;
  width: 100%;
  max-width: 750px; /* Adjust based on your site's actual style if needed */
}

.bibtex pre {
  background-color: #f8f8f8;
  padding: 15px;
  border: 1px solid #e0e0e0;
  overflow-x: auto;
  color: black;
}


